{% extends 'partials/index.html' %}

{% block content %}
<section class="about">
    <div>
        <h4>Wheely Brand</h4>
        <p>
            The "Wheely" brand was established in early 2010 from a small 40-meter store on Hanasi Street - Hadera.<br>
            During 10 years of intensive activity, we have achieved quite a few achievements:<br>
            We held dozens of competitions and events that pushed the regional and national scene in the field of
            skateboarding.<br>
            We held training activities for children in which they got to learn the whole world of skateboarding and
            became much better and higher quality skaters.<br>
            We made sure that our entire audience will always have the highest quality products without compromising on
            qualities!<br>
            We participated in national competitions and even gained recognition all over the country.<br>
            rom the first day we insisted in front of every possible factor and thanks to tremendous efforts we were
            able to establish together with you 3 amazing skate parks in Hadera, Caesarea and Zichron Yaacov<br> which
            are home to hundreds and thousands of children, teenagers and adults today.
            From the first day the store opened we held Tim and Crow of skaters who never stopped getting significant
            support for one moment!<br>
            We have always been here with only one goal: to serve and develop the regional and national skateboarding
            scene.<br>
            On our website you can keep up to date with the latest articles from the skateboarding scene in Israel,
            competitions, events and new videos.<br>
            Willie is here for the skateboard

        </p>
    </div>
</section>
{% endblock %}